<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>cucumber</td><td>AbstractTestNGCucumberTests.run_cukes()[pri:0, instance:runner.TestRunner@66a3ffec]<br/></td></tr>
</table>
