<h2>Reporter output</h2><table><tr><td><div "featureFile">Feature File: MyApplication.feature</div></td></tr>
<tr><td><div "feature">Feature: Test Facebook smoke scenario</div></td></tr>
<tr><td><div "scenario">Scenario: Test Login with valid credentials</div></td></tr>
<tr><td><div "result">Given  Open firefox and start application (passed : 10s)</div></td></tr>
<tr><td><div "result">When  I enter valid &quot;username&quot; and valid &quot;password&quot; (undefined)</div></td></tr>
<tr><td><div "result">Then  user should be able to login successfully (skipped)</div></td></tr>
</table>